# ============================================================
# Octopus Max EZ - ShopAssistant
# Vertical 1 - M1 (Endstop on adjacent endstop slot)
# Vertical 2- M6 (Endstop on adjacent endstop slot)
# Cake1 - M3A
# Horiz - M4 (Endstop on adjacent endstop slot)
# Cake2 - M5
# Cake3 - M2
# Cake4 - M7
# Cake5 - M8
# Cake6 - M9
# ============================================================

# -----------------------------
# Vertical gantry left (Motor1)
# -----------------------------
[manual_stepper gantry1]
step_pin: PC13
dir_pin: !PC14
enable_pin: !PE6
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 20000
accel: 50000
endstop_pin: ^!PF0

[tmc2209 manual_stepper gantry1]
uart_pin: PG14
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0

# ------------------------------
# Vertical gantry right (Motor2)
# ------------------------------
[manual_stepper gantry2]

step_pin: PG15
dir_pin: PB3
enable_pin: !PD5
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 15000
accel: 30000
endstop_pin: ^!PC15

[tmc2209 manual_stepper gantry2]
uart_pin: PG9
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0

# -----------------------------
# Horizontal gantry (Motor4)
# Home is RIGHT side
# -----------------------------
[manual_stepper horiz]
step_pin: PB8
dir_pin: PB9
enable_pin: !PB7
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 20000
accel: 50000
endstop_pin: ^!PF3

[tmc2209 manual_stepper horiz]
uart_pin: PG11
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0

# -----------------------------
# Cake rotaries (M3A, M5, M6, M7, M8, M9)
# -----------------------------
[manual_stepper cake1]
step_pin: PE1
dir_pin: PE0
enable_pin: !PE2
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 15000
accel: 30000

[tmc2209 manual_stepper cake1]
uart_pin: PG12
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0

[manual_stepper cake2]
step_pin: PB5
dir_pin: PB4
enable_pin: !PB6
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 15000
accel: 30000

[tmc2209 manual_stepper cake2]
uart_pin: PG10
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0


[manual_stepper cake3]
step_pin: PE4
dir_pin: !PE5
enable_pin: !PE3
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 20000
accel: 50000


[tmc2209 manual_stepper cake3]
uart_pin: PG13
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0

[manual_stepper cake4]
step_pin: PD3
dir_pin: PD2
enable_pin: !PD4
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 15000
accel: 30000

[tmc2209 manual_stepper cake4]
uart_pin: PD7
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0

[manual_stepper cake5]
step_pin: PA10
dir_pin: PA9
enable_pin: !PA15
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 15000
accel: 30000

[tmc2209 manual_stepper cake5]
uart_pin: PD6
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0

[manual_stepper cake6]
step_pin: PA8
dir_pin: PC7
enable_pin: !PC9
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 15000
accel: 30000

[tmc2209 manual_stepper cake6]
uart_pin: PG8
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0