# ============================================================
# Octopus Max EZ - ShopAssistant
# Motor1: vertical gantry left
# Motor2: vertical gantry right
# Motor3: cake
# Motor4: horizontal gantry
# ============================================================

# -----------------------------
# Vertical gantry left (Motor1)
# -----------------------------
[manual_stepper gantry1]
step_pin: PC13
dir_pin: !PC14
enable_pin: !PE6
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 20000
accel: 50000
endstop_pin: ^!PF0

[tmc2209 manual_stepper gantry1]
uart_pin: PG14
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0

# ------------------------------
# Vertical gantry right (Motor2)
# ------------------------------
[manual_stepper gantry2]
step_pin: PE4
dir_pin: !PE5
enable_pin: !PE3
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 20000
accel: 50000
endstop_pin: ^!PF2

[tmc2209 manual_stepper gantry2]
uart_pin: PG13
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0

# -----------------------------
# Cake rotary (Motor3)
# -----------------------------
[manual_stepper cake]
step_pin: PE1
dir_pin: PE0
enable_pin: !PE2
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 15000
accel: 30000

[tmc2209 manual_stepper cake]
uart_pin: PG12
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0

# -----------------------------
# Horizontal gantry (Motor4)
# Home is RIGHT side
# -----------------------------
[manual_stepper horiz]
step_pin: PB8
dir_pin: PB9
enable_pin: !PB7
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 20000
accel: 50000
endstop_pin: ^!PF3

[tmc2209 manual_stepper horiz]
uart_pin: PG11
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0