# =============================
# Octopus Max EZ - ShopAssistant TEST RIG (DEMO-STABLE)
# Motor1 + Motor2: Gantry vertical (manual steppers, paired with SYNC)
# Motor3: Cake gearbox motor (manual_stepper)
# Motor4: Horizontal gantry axis (manual_stepper, tunable "center")
# =============================

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_07002F001351313531383332-if00
restart_method: command

[printer]
kinematics: none
max_velocity: 30000
max_accel: 10000


# -------------------------------------------------------
# GANTRY VERTICAL (Motor-1, Motor-2) as manual steppers
# -------------------------------------------------------

[manual_stepper gantry1]
step_pin: PC13
dir_pin: !PC14
enable_pin: !PE6
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200     # 1 MOVE unit ~ 1 microstep (your scaling)
velocity: 20000
accel: 50000

[tmc2209 manual_stepper gantry1]
uart_pin: PG14
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0

[manual_stepper gantry2]
step_pin: PE4
dir_pin: !PE5
enable_pin: !PE3
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 20000
accel: 50000

[tmc2209 manual_stepper gantry2]
uart_pin: PG13
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0


# -------------------------------------------------------
# CAKE (Motor-3) as manual_stepper
# -------------------------------------------------------

[manual_stepper cake]
step_pin: PE1
dir_pin: PE0         # add "!" if direction reversed
enable_pin: !PE2
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 15000
accel: 30000

[tmc2209 manual_stepper cake]
uart_pin: PG12
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0


# -------------------------------------------------------
# HORIZONTAL (Motor-4) as manual_stepper
# NOTE: Motor4 pin mapping is the standard Octopus Max EZ mapping.
# If direction is wrong, invert dir_pin by adding "!".
# -------------------------------------------------------

[manual_stepper horiz]
step_pin: PB8
dir_pin: PB9
enable_pin: !PB7
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 3200
velocity: 20000
accel: 50000

[tmc2209 manual_stepper horiz]
uart_pin: PG11
run_current: 0.90
hold_current: 0.50
stealthchop_threshold: 0


# =======================================================
# MACROS
# =======================================================

# ----- Tunables / State -----

[gcode_macro SA_TUNING]
# Update these without rewriting macros:
#  - gantry_cake_steps: how far up to reach cake height
#  - horiz_center_steps: how far right from left-most to reach center
variable_gantry_cake_steps: 35000
variable_horiz_center_steps: 48000
gcode:
  ; storage only

[gcode_macro SA_SET_GANTRY_CAKE_STEPS]
description: Set gantry steps to cake height. Usage: SA_SET_GANTRY_CAKE_STEPS STEPS=35000
gcode:
  {% set s = params.STEPS|int %}
  SET_GCODE_VARIABLE MACRO=SA_TUNING VARIABLE=gantry_cake_steps VALUE={s}
  RESPOND PREFIX=SA MSG="GANTRY_CAKE_STEPS_SET={s}"

[gcode_macro SA_SET_HORIZ_CENTER_STEPS]
description: Set horiz steps to center from left. Usage: SA_SET_HORIZ_CENTER_STEPS STEPS=48000
gcode:
  {% set s = params.STEPS|int %}
  SET_GCODE_VARIABLE MACRO=SA_TUNING VARIABLE=horiz_center_steps VALUE={s}
  RESPOND PREFIX=SA MSG="HORIZ_CENTER_STEPS_SET={s}"


# ----- Gantry Vertical -----

[gcode_macro SA_GANTRY_TO_CAKE]
gcode:
  {% set s = printer["gcode_macro SA_TUNING"].gantry_cake_steps|int %}
  MANUAL_STEPPER STEPPER=gantry1 SET_POSITION=0
  MANUAL_STEPPER STEPPER=gantry2 SET_POSITION=0
  MANUAL_STEPPER STEPPER=gantry1 MOVE={s} SYNC=0
  MANUAL_STEPPER STEPPER=gantry2 MOVE={s} SYNC=1
  M400
  MANUAL_STEPPER STEPPER=gantry1 SET_POSITION=0
  MANUAL_STEPPER STEPPER=gantry2 SET_POSITION=0
  RESPOND PREFIX=SA MSG="GANTRY_AT_CAKE_STEPS={s}"

[gcode_macro SA_GANTRY_TO_HOME]
gcode:
  {% set s = printer["gcode_macro SA_TUNING"].gantry_cake_steps|int %}
  MANUAL_STEPPER STEPPER=gantry1 SET_POSITION=0
  MANUAL_STEPPER STEPPER=gantry2 SET_POSITION=0
  MANUAL_STEPPER STEPPER=gantry1 MOVE=-{s} SYNC=0
  MANUAL_STEPPER STEPPER=gantry2 MOVE=-{s} SYNC=1
  M400
  MANUAL_STEPPER STEPPER=gantry1 SET_POSITION=0
  MANUAL_STEPPER STEPPER=gantry2 SET_POSITION=0
  RESPOND PREFIX=SA MSG="GANTRY_AT_HOME_OK"


# ----- Horizontal -----

[gcode_macro SA_HORIZ_SET_LEFT]
description: Declare current horiz position as LEFT-MOST (zero)
gcode:
  MANUAL_STEPPER STEPPER=horiz SET_POSITION=0
  RESPOND PREFIX=SA MSG="HORIZ_LEFT_SET=0"

[gcode_macro SA_HORIZ_TO_CENTER]
description: Move from LEFT-MOST to CENTER using tunable horiz_center_steps
gcode:
  {% set c = printer["gcode_macro SA_TUNING"].horiz_center_steps|int %}
  MANUAL_STEPPER STEPPER=horiz SET_POSITION=0
  MANUAL_STEPPER STEPPER=horiz MOVE={c}
  M400
  MANUAL_STEPPER STEPPER=horiz SET_POSITION=0
  RESPOND PREFIX=SA MSG="HORIZ_AT_CENTER_STEPS={c}"

[gcode_macro SA_HORIZ_TO_RIGHT]
description: Move from CENTER back to RIGHT (reverse of left->center)
gcode:
  {% set c = printer["gcode_macro SA_TUNING"].horiz_center_steps|int %}
  MANUAL_STEPPER STEPPER=horiz SET_POSITION=0
  MANUAL_STEPPER STEPPER=horiz MOVE=-{c}
  M400
  MANUAL_STEPPER STEPPER=horiz SET_POSITION=0
  RESPOND PREFIX=SA MSG="HORIZ_AT_RIGHT"

[gcode_macro SA_HORIZ_JOG]
description: Jog horiz by DELTA microsteps. Usage: SA_HORIZ_JOG DELTA=2000 (or -2000)
gcode:
  {% set d = params.DELTA|int %}
  MANUAL_STEPPER STEPPER=horiz SET_POSITION=0
  MANUAL_STEPPER STEPPER=horiz MOVE={d}
  M400
  MANUAL_STEPPER STEPPER=horiz SET_POSITION=0
  RESPOND PREFIX=SA MSG="HORIZ_JOG_DELTA={d}"


# ----- Cake -----

[gcode_macro SA_CAKE_CW_60]
gcode:
  MANUAL_STEPPER STEPPER=cake SET_POSITION=0
  MANUAL_STEPPER STEPPER=cake MOVE=21333
  M400
  MANUAL_STEPPER STEPPER=cake SET_POSITION=0
  RESPOND PREFIX=SA MSG="CAKE_CW_60_OK"

[gcode_macro SA_CAKE_CCW_60]
gcode:
  MANUAL_STEPPER STEPPER=cake SET_POSITION=0
  MANUAL_STEPPER STEPPER=cake MOVE=-21333
  M400
  MANUAL_STEPPER STEPPER=cake SET_POSITION=0
  RESPOND PREFIX=SA MSG="CAKE_CCW_60_OK"


# ----- Full cycles -----

[gcode_macro SA_DISPENSE_TEST]
gcode:
  RESPOND PREFIX=SA MSG="DISPENSE_TEST_START"
  ; assume horizontal starts at left-most for now
  SA_HORIZ_SET_LEFT
  SA_HORIZ_TO_CENTER
  SA_GANTRY_TO_CAKE
  SA_CAKE_CW_60
  SA_GANTRY_TO_HOME
  SA_HORIZ_TO_RIGHT
  RESPOND PREFIX=SA MSG="DISPENSE_TEST_DONE"

[gcode_macro SA_RETURN_TEST]
gcode:
  RESPOND PREFIX=SA MSG="RETURN_TEST_START"
  SA_HORIZ_SET_LEFT
  SA_HORIZ_TO_CENTER
  SA_GANTRY_TO_CAKE
  SA_CAKE_CCW_60
  SA_GANTRY_TO_HOME
  SA_HORIZ_TO_RIGHT
  RESPOND PREFIX=SA MSG="RETURN_TEST_DONE"